
.mystyle{
    color : red;
}
.mystyle1{
    color : green;
}
.mystyle2{
     color : blue;
}
.mystyle3{
    font : arial;
 }
.mystyle4{
     font : Helvetica;
}
.mystyle5{
    font : sans-serif;
}